/*********************************************
 * VIEW FRAGMENTS
 *********************************************/
 .reveal .slides section .fragment.font-size-up {
  opacity: 1;
  visibility: inherit; }
  .reveal .slides section .fragment.font-size-up.visible {
            animation-name: font-size-up;
            animation-duration: 1s;
            animation-fill-mode: forwards; }

.reveal .slides section .fragment.highlight-pink {
 opacity: 1;
  visibility: inherit; }
 .reveal .slides section .fragment.highlight-pink.visible {
            color: #ff2c85; }

/*********************************************
 * ANIMATIONS
 *********************************************/
@keyframes font-size-up {
  0%   {font-size: 100%;}
  50%  {font-size: 175%;}
  100% {font-size: 150%;}
}


/*********************************************
 * OTHER
 *********************************************/
th {
 display: none;
}

table {
 height: 75%;
 width: 75%;
}
